@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";

.root {
  @include flex-block(center, center);
  @include transition();

  display: inline-flex;
  min-width: fit-content;

  border-style: solid;
  border-width: 1px;

  cursor: pointer;
  position: relative;

  &:disabled,
  &:disabled:hover {
    border-color: $primary-disabled !important;
    background-color: $primary-disabled !important;
    color: $text-light !important;

    cursor: not-allowed;
  }
}

.primary {
  color: $text-light;
  background-color: $primary;
  border-color: $border-primary;

  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.primary-reversed {
  color: $text-primary;
  background-color: $white;
  border-color: $primary;

  &:hover {
    color: $text-light;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.primary-light {
  color: $text-light;
  background-color: $primary-light;
  border-color: $primary-light;

  &:hover {
    background-color: $primary-light-hover;
  }
}

.primary-dark {
  color: $text-light;
  background-color: $primary-dark;
  border-color: $primary-dark;

  &:hover {
    background-color: $primary-dark-hover;
  }
}

.light {
  color: $text-dark;
  background-color: $white;
  border-color: $border-dark;

  &:hover {
    color: $primary;
    border-color: $border-primary;
  }
}

.dark {
  color: $text-light;
  background-color: $dark;
  border-color: $dark;

  &:hover {
    background-color: $primary;
    border-color: $border-primary;
  }
}

.transparent {
  color: $text-dark;
  background-color: transparent;
  border-color: $border-dark;

  &:hover {
    color: $primary;
    background-color: rgba($primary-light-hover, .2);
  }
}

.toggle {
  color: $text-dark;
  background-color: transparent;
  padding: 0 10px !important;

  &:hover {
    color: $primary;
    background-color: transparent;
  }

  &.active {
    color: $primary;
    font-weight: 700;
    cursor: default;
  }
}

.small {
  @include font-x-small();
  @include width-height(auto, 34px);

  padding: 0 30px;
}

.medium {
  @include font-small();
  @include width-height(auto, 40px);

  padding: 0 40px;
}

.large {
  @include font-regular();
  @include width-height(auto, 50px);

  padding: 0 45px;
}

.borderless {
  border-width: 0;
}
