@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";

.root {
  width: auto;
}

.select {
  [class$="-control"] {
    border-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%;

    &:hover,
    &:focus {
      border-color: transparent;
      outline: none;
    }
  }

  [class$="-menu"] {
    right: 0;
    width: 200px;
  }

  [class$="-ValueContainer"] {
    @include width-height(40px, 40px);

    border-color: transparent !important;
    outline: none !important;
    box-shadow: none;
  }

  [class$="-option"] {
    @include font-small(600);

    background-color: transparent;
    margin: 0;
    padding: 0;

    > * {
      padding: 10px;
      display: block;
    }

    &:hover {
      background-color: transparent;

      a {
        color: $text-primary;
      }
    }

    &:last-child {
      padding: 10px;
      margin-top: 10px;
      border-top: 1px solid $border-lighter;
      cursor: pointer;

      color: $text-secondary;

      &:hover {
        color: $text-dark;
      }
    }
  }
}

.option {
  @include width-height(100%, 100%);

  text-decoration: none;
  color: $text-dark;
}
