$mobile-upper-boundary: 767px;
$table-upper-boundary: 1180px;

@mixin for-device($device) {
  @if $device == mobile {
    @media (max-width: #{$mobile-upper-boundary}) { @content; }
  }

  @if $device == tablet {
    @media (max-width: #{$table-upper-boundary}) { @content; }
  }
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin font($size, $line-height, $weight: 400) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin link-normalize {
  text-decoration: none;
  color: $always-black;
}

@mixin input-normalize {
  outline: none;
  border-width: 0;
}

@mixin flex-block($justify-content: flex-start, $align-items: flex-start, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin scrollbars($size, $thumb-color, $track-color: mix($thumb-color, white,  50%)) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 8px;
  }
}

@mixin box-shadow($bg-2-light: #d9dee5, $shadow: 0 8px 48px rgba(0, 0, 0, .6), $radius: 8px) {
  border: 1px solid $bg-2-light;
  box-shadow: $shadow;
  border-radius: $radius;
}

@mixin fixed-full-frame() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin popup-fade-in-keyframe {
  transform: translateY(0);
  transition: transform 6s ease-in-out;
  animation: popup-in .2s;

  @keyframes popup-in {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }
}

@mixin popup-fade-out-keyframe {
  transform: translateY(0);
  transition: transform 6s ease-in-out;
  animation: popup-out .2s;

  @keyframes popup-out {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(100%);
    }
  }
}
