@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/fonts";

.root {
  font-family: $font-family;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  margin: 0;
}

.heading1 {
  @include font-3x-large();
}

.heading2 {
  @include font-2x-large();
}

.heading3 {
  @include font-x-large(700);
}

.heading4 {
  @include font-large(700);
}

.heading5 {
  @include font-regular(700);
}

.heading6 {
  @include font-small(700);
}

.subtitle1 {
  @include font-x-large(700);
}

.subtitle2 {
  @include font-regular(600);
}

.paragraph1 {
  @include font-regular();
}

.paragraph2 {
  @include font-regular-2();
}

.button {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

.text {
  @include font-regular();

  color: inherit;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extraBold {
  font-weight: 900;
}
