@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";

.root {
  @include flex-block(center, flex-start);
  @include width-height(100%, 100%);

  background-color: $bg-dark;
  border: 4px solid $bg-dark;

  position: relative;
  overflow: hidden;

  &:hover {
    border: 4px solid $border-primary;

    .image {
      img:first-child {
        display: none;
      }

      img:last-child {
        display: block;
      }
    }
  }
}

.root.invalid {

  border: 4px solid $border-warning;

  &:hover {
    border: 4px solid $border-warning;
  }
}

.label {
  @include width-height(100%, 100%);
  @include flex-block(center, center, column);

  cursor: pointer;
}

.image {
  margin-bottom: 30px;

  img {
    @include width-height(50px, 50px);
  }

  img:first-child {
    display: block;
  }

  img:last-child {
    display: none;
  }
}

.hint {
  max-width: 400px;

  position: absolute;
  bottom: 20px;
}
