@import "src/styles/mixins";
@import "src/styles/variables";

.root {
  @include width-height(40px, 40px);

  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-position: center;
  background-size: cover;
}
