@import "src/styles/colors";
@import "src/styles/variables";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bg-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  color: $text-dark;

  font-family: $font-family;
}

a,
a:visited {
  color: inherit;
}
