@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";

.root {
  height: $header-height;

  border-bottom: 1px solid $border-lighter;
  background-color: $bg-white;
  padding: 0 16px;
}

.container {
  @include flex-block(space-between, center);

  max-height: $header-height;
  min-height: $header-height;
  border: none;
  padding: 0;
}

.logo {
  @include flex-block(flex-start, center);

  #{&}_title {
    @include font-x-large(900);

    margin: 0;
  }
}

.recipes {
  @include flex-block(flex-start, center);

  height: 100%;
  margin-left: 50px;

  .title {
    @include font-normal(600);
    @include transition(color);
  }

  &:hover {
    .title {
      color: $text-primary;
    }

    .categories {
      display: block;
    }
  }

  .categories {
    display: none;

    background-color: $white;
    border: 1px solid $border-lighter;

    position: absolute;
    top: calc(#{$header-height} - 1px);

    margin: 0;
    padding: 4px 0;

    list-style: none;

    li a {
      @include font-small(600);
      @include link-normalize;

      padding: 10px;
      display: block;

      &:hover {
        color: $text-primary;
      }
    }
  }
}

.nav {
  @include flex-block(space-between, center);

  height: 100%;
}

.nav:last-child {
  padding: 10px 0;
}

.link {
  @include link-normalize;

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}
