@import "src/styles/mixins";
@import "src/styles/variables";

.root {
  @include box-shadow(transparent, 0 8px 48px rgba(0, 0, 0, .2), 0 0 8px 8px);

  height: $header-height;

  border-bottom: 1px solid #efefef;
  padding: 0 16px;
}

.container {
  @include flex-block(space-between, center);
}

.logo {
  @include font(24px, 30px, 900);

  margin: 0;
}
