@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/colors";

.root {
  @include flex-block(flex-start, flex-start, column);

  background-color: $white;
  margin: 100px auto;
}

.title {
  @include font-normal(600);

  margin: 40px auto
}
